spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/digital_banking
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

  flyway:
    enabled: true
